<div layout="column">
    <md-content flex md-scroll-y layout-fill flex-gt-sm="90" flex-gt-xs="90" class="md-main-content">
        <div layout="column" layout-fill layout-padding>
            <div>
                <div layout="row" layout-align="center center">
                    <md-card flex-gt-sm>
                        <md-toolbar class="md-accent">
                            <div class="md-toolbar-tools">
                                <span>Ver catedra</span>
                            </div>
                        </md-toolbar>
                        <md-card-content>
                            <md-tabs md-dynamic-height md-border-bottom>
                                <md-tab>
                                    <md-tab-label>
                                        <div layout layout-align="center center">
                                            General
                                        </div>
                                    </md-tab-label>
                                    <md-tab-body layout="column" class="md-padding">
                                        <md-list flex>
                                            <div layout-gt-sm="row">
                                                <div layout-align="center center">
                                                    <img class="user-image-sm list-item-4"
                                                         ng-src="resources/img/odontology/{{imgIdx}}.svg"/>
                                                </div>
                                                <md-list-item class="md-2-line md-long-text" flex-gt-sm="20">
                                                    <div class="md-list-item-text md-offset">
                                                        <h4>Nombre</h4>

                                                        <h2>{{catedra.denominacion}}</h2>
                                                    </div>
                                                </md-list-item>
                                                <md-list-item class="md-2-line md-long-text" flex-gt-sm="30">
                                                    <div class="md-list-item-text md-offset">
                                                        <h4>Materia</h4>

                                                        <h2>{{catedra.materia.nombre}}</h2>
                                                    </div>
                                                </md-list-item>
                                            </div>
                                            <md-list-item class="md-2-line md-long-text">
                                                <div class="md-list-item-text md-offset">
                                                    <h4>Descripción</h4>

                                                    <p>{{catedra.descripcion | noDefinido }}</p>
                                                </div>
                                            </md-list-item>
                                            <md-list-item class="md-2-line md-long-text">
                                                <div class="md-list-item-text md-offset">
                                                    <h4>Horarios de atención</h4>
                                                    <md-chips ng-model="catedra.horarios" readonly="true">
                                                        <md-chip-template>
                                                            <strong>{{$chip.dia.nombre}}</strong>
                                                            <em>{{$chip.horaDesde | date:'HH:mm'}} - {{$chip.horaHasta |
                                                                date:'HH:mm'}}</em>
                                                        </md-chip-template>
                                                    </md-chips>
                                                </div>
                                            </md-list-item>
                                            <div layout-gt-sm="row" ng-if="catedra.fechaBaja">
                                                <md-list-item class="md-2-line md-long-text" flex-gt-sm="30">
                                                    <div class="md-list-item-text md-offset">
                                                        <h4>Fecha de baja</h4>

                                                        <p>{{catedra.fechaBaja | date:'dd/MM/yyyy' }}</p>
                                                    </div>
                                                </md-list-item>
                                                <md-list-item class="md-2-line md-long-text" flex-gt-sm="70">
                                                    <div class="md-list-item-text md-offset">
                                                        <h4>Motivo de baja</h4>

                                                        <p>{{catedra.motivoBaja | noDefinido}}</p>
                                                    </div>
                                                </md-list-item>
                                            </div>
                                        </md-list>
                                    </md-tab-body>
                                </md-tab>
                                <md-tab>
                                    <md-tab-label>
                                        <div layout layout-align="center center">
                                            Trabajos prácticos
                                        </div>
                                    </md-tab-label>
                                    <md-tab-body class="md-padding">
                                        <md-list>
                                            <md-list-item class="md-3-line" ng-repeat="tp in catedra.trabajosPracticos">
                                                <img ng-src="http://us.123rf.com/450wm/floralset/floralset1404/floralset140400795/27696239-tooth-web-icon-flat-design.jpg?ver=6"
                                                     class="md-avatar" hide-xs/>

                                                <div class="md-list-item-text" layout="column">
                                                    <h3 class="md-title">
                                                        <a>
                                                            <small>Nombre</small>
                                                            {{tp.nombre}}</a>
                                                    </h3>
                                                    <h4>
                                                        <small>Práctica</small>
                                                        {{tp.practicaOdontologica.denominacion}}
                                                    </h4>
                                                    <p class="muted">
                                                        <small>Descripción</small>
                                                        {{tp.descripcion}}
                                                    </p>
                                                </div>
                                                <md-divider md-inset ng-if="!$last"></md-divider>
                                            </md-list-item>
                                        </md-list>
                                    </md-tab-body>
                                </md-tab>
                            </md-tabs>

                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="goIndex()" class="md-primary">Volver</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>
    </md-content>
</div>

