<md-content layout="row" layout-align="center start">
    <div layout="column" flex="80">
        <form name="createCatedraForm" novalidate ng-submit="save()">
            <md-card>
                <md-toolbar class="md-accent">
                    <div class="md-toolbar-tools">
                        <span>Crear cátedra</span>
                    </div>
                </md-toolbar>
                <md-card-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="General">
                            <md-content layout="column">
                                <p> Complete los datos generales de la cátedra a crear</p>
                                <div layout="row">
                                    <md-input-container flex>
                                        <label>Nombre</label>
                                        <input name="denominacion" ng-model="catedra.denominacion"
                                               required md-maxlength="75">
                                        <div ng-messages="createCatedraForm.denominacion.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">El nombre es un campo requerido.</div>
                                            <div ng-message="md-maxlength" class="my-message">
                                                El nombre no puede tener màs de 75 caracteres.
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex>
                                        <label>Materia</label>
                                        <md-select ng-model="catedra.materia" name="materia" required>
                                            <md-option ng-repeat="materia in data.materias" ng-value="materia">
                                                {{ materia.nombre }}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="myForm.myModel.$error" ng-if="myForm.$dirty">
                                            <div ng-message="required">Required</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                    <md-input-container>
                                        <label>Descripción</label>
                                        <textarea ng-model="catedra.descripcion" name="descripcion" columns="5"
                                                  md-maxlength="200" required="true"></textarea>

                                        <div ng-messages="createCatedraForm.descripcion.$error" role="alert" multiple>
                                            <div ng-message="md-maxlength" class="my-message">
                                                Las descripción no pueden tener màs de 200 caracteres.
                                            </div>
                                            <div ng-message="required" class="my-message">
                                                La descripción es un campo obligatorio.
                                            </div>
                                        </div>
                                    </md-input-container>
                            </md-content>
                        </md-tab>
                        <md-tab label="Horarios">
                            <md-content class="md-padding">
                                <p>Agregue los horarios en los que se dicta la cátedra.</p>
                                <div layout="row">
                                    <md-input-container flex="10">
                                        <label>Día</label>
                                        <md-select ng-model="newHorario.dia" name="dia">
                                            <md-option ng-repeat="dia in  data.dias" ng-value="dia.nombre">
                                                {{ dia.nombre }}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex="20">
                                        <label>Hora desde</label>
                                        <input type=time step=900 name="horaDesde" ng-model="newHorario.horaDesde" required="true">
                                        <div ng-messages="createCatedraForm.horaDesde.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">El horario de inicio es un campo requerido.</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="20">
                                        <label>Hora hasta</label>
                                        <input type=time step=900 name="horaHasta" ng-model="newHorario.horaHasta">
                                        <div ng-messages="createCatedraForm.horaHasta.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">El horario de finalización es un campo requerido.</div>
                                        </div>
                                    </md-input-container>
                                    <md-button class="md-icon-button md-primary" aria-label="Settings"
                                               ng-click="addHorario()">
                                        <ng-md-icon icon="add" size="40" style="fill: grey"></ng-md-icon>
                                    </md-button>
                                </div>
                                <md-chips ng-model="catedra.horarios">
                                    <md-chip-template ng-click='editHorario($chip)'>
                                        <strong>{{$chip.dia}}</strong>
                                        <em>{{$chip.horaDesde | date:'HH:mm'}} - {{$chip.horaHasta |
                                            date:'HH:mm'}}</em>
                                    </md-chip-template>
                                </md-chips>
                            </md-content>
                        </md-tab>
                        <md-tab label="Trabajos prácticos">
                            <md-content class="md-padding">
                                <p>Agregue los trabajos prácticos pertenecientes a la cátedra.</p>
                                <ng-include src="'views/catedra/catedraAddTrabajoPractico.html'"></ng-include>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="goIndex()">Cancelar</md-button>
                    <md-button type="submit" class="md-raised md-primary">Aceptar</md-button>
                </md-card-actions>
            </md-card>
            {{ catedra }}
        </form>
    </div>
</md-content>

