<div class="page-header">
    <h2>Cátedra
        <small>Ver detalle</small>
    </h2>
</div>

<div class="row-fluid">
    <div class="col-lg-5">
        <div class="form-group">
            <label>Denominación</label>

            <div class="well well-sm">
                {{catedra.denominacion}}
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="form-group">
            <label>Materia</label>

            <div class="well well-sm">
                {{catedra.materia.nombre}}
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="col-lg-12">
        <div class="form-group">
            <label>Descripción</label>

            <div class="well well-sm">
                {{catedra.descripcion}}
            </div>
        </div>
    </div>
</div>

<div ng-if="catedra.fechaBaja" class="row-fluid">
    <div class="col-lg-2 form-group">
        <label>Fecha de baja</label>

        <div class="well well-sm">
            {{catedra.fechaBaja | date:'dd/MM/yyyy' }}
        </div>
    </div>
    <div class="col-lg-10 form-group">
        <label>Motivo de baja</label>

        <div class="well well-sm">
            {{catedra.motivoBaja || ''}}
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">Horarios</div>
            <div class="panel-body">
                <div class="row-fluid">
                    <div class="col-lg-8 col-lg-offset-2">
                        <table id="grid-horarios2" class="table table-striped">
                            <thead>
                            <tr>
                                <th>Dia</th>
                                <th>Hora desde</th>
                                <th>Hora hasta</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-show="catedra.horarios.length > 0"
                                data-ng-repeat="item in catedra.horarios">
                                <td>{{item.dia}}</td>
                                <td>{{item.horaDesde | date:'HH:mm'}}</td>
                                <td>{{item.horaHasta | date:'HH:mm'}}</td>
                            </tr>
                            <tr ng-show="catedra.horarios.length == 0">
                                <td colspan="4">Sin horarios cargados</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">Trabajos prácticos</div>
            <div class="panel-body">
                <div class="row-fluid col-lg-12">
                    <div class="form-group">
                        <div class="form-inline">
                            <label>
                                <h4>Trabajos prácticos asociados</h4>
                            </label>
                        </div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Grupo práctica</th>
                                <th>Práctica</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-if="catedra.trabajosPracticos.length"
                                data-ng-repeat="item in catedra.trabajosPracticos">
                                <td>{{item.nombre}}</td>
                                <td>{{item.descripcion}}</td>
                                <td>{{item.practicaOdontologica.grupo.nombre}}</td>
                                <td>{{item.practicaOdontologica.denominacion}}</td>
                            </tr>
                            <tr ng-if="!catedra.trabajosPracticos.length">
                                <td colspan="5">Sin trabajos prácticos cargados</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="col-lg-12">
        <div class="pull-right">
            <input type="button" ng-click="goIndex()" class="btn btn-flat btn-info"
                   value="Volver"/>
        </div>
    </div>

</div>
