<div class="panel panel-default">
    <div class="panel-body">
        <div class="page-header">
            <div class="input-group">
                <h2>Usuario
                    <small>Crear</small>
                </h2>
                <div class="input-group-btn">
                    <input ng-show="data.disableFields" type="button" ng-click="reload()" class="btn btn-success btn-lg"
                           value="Nuevo"/>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div ng-if="data.saved" class="alert alert-success">
                <i class="fa fa-check-circle-o fa-lg"></i> <strong> ¡Éxito!</strong> Usuario guardado correctamente.
            </div>
        </div>

        <summary-error var="showSummaryError && usuarioForm.$invalid"></summary-error>

        <div class="col-lg-8 col-lg-offset-2">
            <form novalidate submit-validate="save()" name="usuarioForm">
                <div class="col-lg-6">
                    <div class="form-group" show-errors>
                        <label>Nombre de usuario</label>
                        <input maxlength="50" ng-disabled="data.disableFields" name="nombreUsuario" ng-model="usuario.nombreUsuario"
                               type="text" class="form-control" required/>
                        <span class="help-block" for="nombreUsuario"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" show-errors>
                        <label>E-mail</label>
                        <input maxlength="70" ng-disabled="data.disableFields" name="email" ng-model="usuario.email"
                               type="email" class="form-control" required/>
                        <span class="help-block" for="email"></span>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="form-group" show-errors>
                        <label>Roles</label>
                        <select ng-disabled="data.disableFields" multiple ng-disabled="data.disableFields" name="rol"
                                class="form-control"
                                ng-model="usuario.roles"
                                ng-options="rol as rol.nombre for rol in data.roles track by rol.id" required>
                        </select>
                        <span class="help-block" for="rol"></span>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="checkbox">
                        <label>
                            <input ng-disabled="data.disableFields" ng-model="data.sendEmail" type="checkbox"> Notificar al usuario por e-mail
                        </label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" show-errors>
                        <label>Contraseña</label>
                        <input maxlength="50" ng-disabled="data.disableFields" ng-model="usuario.contrasenia" required name="password" type="password" class="form-control">
                        <span class="help-block" for="password"></span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{'has-error':usuarioForm.confirmPassword.$error.sameAs}">
                        <label>Confirmar contraseña</label>
                        <input ng-disabled="data.disableFields" ng-model-options="{updateOn:'blur'}" same-as="usuario.contrasenia" ng-model="usuario.confirmacionContrasenia" name="confirmPassword" type="password" class="form-control">
                        <span ng-show="usuarioForm.confirmPassword.$error.sameAs" class="help-block" for="confirmPassword">Las contraseñas no coinciden.</span>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="col-lg-12">
                        <div class="pull-right">
                            <input ng-show="!data.disableFields" type="submit" class="btn btn-primary"
                                   value="Aceptar"/>
                            <input ng-show="!data.disableFields" type="button" ng-click="goIndex()"
                                   class="btn btn-default"
                                   value="Cancelar"/>
                            <input ng-show="data.disableFields" type="button" ng-click="goIndex()"
                                   class="btn btn-flat btn-info"
                                   value="Volver"/>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>