<md-dialog ng-cloak>
    <form name="deleteTrabajoPracticoForm" ng-submit="confirmar(deleteTrabajoPracticoForm)" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Dar de baja</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancelar()">
                    <ng-md-icon icon="close" style="fill: white"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Describa el motivo de la baja</h2>
                <p>
                    Para dar de baja el usuario por favor, escriba el motivo.
                </p>
                <div layout="row">
                    <md-input-container flex="100">
                        <label>Motivo de la baja </label>
                        <textarea ng-model="motivoBaja" columns="5" md-maxlength="150" name="motivo"></textarea>
                        <div ng-messages="deleteTrabajoPracticoForm.motivo.$error" ng-show="deleteTrabajoPracticoForm.motivo.$touched">
                            <div ng-messages-include="error-messages"></div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancelar()">Cancelar</md-button>
            <md-button type="submit" class="md-raised md-primary">Aceptar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>