        <md-content layout="column" layout-align="start center" class="md-main-content" flex>
            <md-card class="md-whiteframe-z5 md-main-content-card">
                <form name="usuarioForm" novalidate ng-submit="save(usuarioForm)">
                <md-toolbar class="md-accent">
                    <div class="md-toolbar-tools">
                        <span>Editar usuario</span>
                    </div>
                </md-toolbar>
                <md-card-content>
                    <p>Complete los datos para editar el usuario.</p>
                    <ng-include ng-if="validationErrorFromServer.error" src="'views/validation-error.html'"></ng-include>
                    <div layout="row">
                        <md-input-container class="md-input-container-view-icon">
                            <label>E-mail</label>
                            <input name="email" ng-model="personaDTO.usuario.email" type="email"
                                   required md-maxlength="100">
                            <div ng-messages="usuarioForm.email.$error" ng-show="usuarioForm.email.$touched">
                                <div ng-messages-include="error-messages"></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-input-container-view-icon">
                            <label>Nombre de usuario</label>
                            <input name="nombreUsuario" ng-model="personaDTO.usuario.nombreUsuario" required md-maxlength="100">
                            <div ng-messages="usuarioForm.nombreUsuario.$error" ng-show="usuarioForm.nombreUsuario.$touched">
                                <div ng-messages-include="error-messages"></div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container class="md-input-container-view-icon">
                            <label>Contraseña</label>
                            <input name="password" ng-model="personaDTO.usuario.contrasenia"
                                   required md-maxlength="50" type="password">
                            <div ng-messages="usuarioForm.password.$error" ng-show="usuarioForm.password.$touched">
                                <div ng-messages-include="error-messages"></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-input-container-view-icon">
                            <label>Confirmar contraseña</label>
                            <input ng-model="personaDTO.confirmacionContrasenia" name="confirmPassword"
                                   required md-maxlength="50" type="password" same-as="personaDTO.usuario.contrasenia">
                            <div ng-messages="usuarioForm.confirmPassword.$error" ng-show="usuarioForm.confirmPassword.$touched">
                                <div ng-messages-include="error-messages"></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-input-container-view-icon">
                            <label>Rol</label>
                            <md-select required ng-model="personaDTO.usuario.rol" name="rol" required ng-model-options="{trackBy: 'rol.id'}">
                                <md-option ng-repeat="rol in data.roles" ng-value="rol" >
                                    {{ rol.nombre }}
                                </md-option>
                            </md-select>
                            <div ng-messages="usuarioForm.rol.$error" ng-show="usuarioForm.rol.$touched">
                                <div ng-messages-include="error-messages"></div>
                            </div>
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container>
                            <md-checkbox ng-model="data.sendEmail" aria-label="Notificar al usuario por e-mail">
                                Notificar al usuario por e-mail
                            </md-checkbox>
                        </md-input-container>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="goIndex()">Cancelar</md-button>
                    <md-button type="submit" class="md-raised md-primary">Aceptar</md-button>
                </md-card-actions>
                </form>
            </md-card>
        </md-content>

