<div layout="column">
    <md-content flex md-scroll-y layout-fill flex-gt-sm="90" flex-gt-xs="90" class="md-main-content">
        <div layout="column" layout-fill layout-padding>
            <div>
                <div layout="row" layout-align="center center">
                    <md-card flex-gt-sm>
                        <form name="usuarioForm" novalidate ng-submit="save(usuarioForm)">
                        <md-toolbar class="md-accent">
                            <div class="md-toolbar-tools">
                                <span ng-if="!data.isAlumno">{{ 'CREAR_USUARIO' | translate }}</span>
                                <span ng-if="data.isAlumno">Registrar alumno</span>
                            </div>
                        </md-toolbar>
                        <md-card-content>
                            <ng-include ng-if="validationErrorFromServer.error" src="'views/validation-error.html'"></ng-include>
                            <div layout-gt-sm="row" layout-margin>
                                <md-input-container flex-gt-sm="33">
                                    <label>{{ 'NOMBRE' | translate }}</label>
                                    <input name="nombre"  ng-model="personaDTO.nombre"
                                           required md-maxlength="75">
                                    <div ng-messages="usuarioForm.nombre.$error" ng-show="usuarioForm.nombre.$touched || data.submitted">
                                        <div ng-messages-include="error-messages"></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex-gt-sm="33">
                                    <label>{{ 'APELLIDO' | translate }}</label>
                                    <input name="apellido"  ng-model="personaDTO.apellido"
                                           required md-maxlength="75">
                                    <div ng-messages="usuarioForm.apellido.$error" ng-show="usuarioForm.apellido.$touched || data.submitted">
                                        <div ng-messages-include="error-messages"></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex-gt-sm="33">
                                    <label>{{ 'SEXO' | translate }}</label>
                                    <md-select ng-model="personaDTO.sexo" ng-model-options="{trackBy: '$value.key'}"
                                               name="sexo">
                                        <md-option ng-repeat="sexo in data.sexos" ng-value="sexo">
                                            {{ sexo.nombre }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row" layout-margin>
                                <md-input-container flex-gt-sm="33">
                                    <label>{{ 'TIPO_DOC' | translate }}</label>
                                    <md-select ng-model="personaDTO.documento.tipoDocumento" ng-model-options="{trackBy: '$value.key'}"
                                               name="tipoDocumento" required>
                                        <md-option ng-repeat="tipo in data.tiposDoc" ng-value="tipo">
                                            {{ tipo.nombre }}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="usuarioForm.tipoDocumento.$error" ng-show="usuarioForm.tipoDocumento.$touched || data.submitted">
                                        <div ng-messages-include="error-messages"></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex-gt-sm="33">
                                    <label>{{ 'NUM_DOC' | translate }}</label>
                                    <input name="nroDocumento"  ng-model="personaDTO.documento.numero"
                                           required md-maxlength="10">
                                    <div ng-messages="usuarioForm.nroDocumento.$error" ng-show="usuarioForm.nroDocumento.$touched || data.submitted">
                                        <div ng-messages-include="error-messages"></div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex-gt-sm="33">
                                    <label>{{ 'NOMBRE_USUARIO' | translate }}</label>
                                    <input name="nombreUsuario" ng-model="personaDTO.documento.numero" disabled>
                                    <md-tooltip md-direction="top">
                                        El usuario tendrá temporalmente el número de documento como nombre de usuario
                                    </md-tooltip>
                                </md-input-container>
                            </div>
                            <div layout-gt-sm="row" layout-margin>
                                <md-input-container flex-gt-sm="60">
                                    <fieldset class="standard" name="roles">
                                        <legend>Roles</legend>
                                        <div layout="row" layout-wrap flex>
                                            <div flex="50" ng-repeat="rol in data.roles">
                                                <md-checkbox ng-model="rol.selected" ng-disabled="data.isAlumno" ng-change="clickRol()">
                                                    <span>{{ rol.nombre.nombre }}</span>
                                                </md-checkbox>
                                            </div>
                                        </div>
                                        <div style="color: rgb(221,44,0)" ng-if="data.missingRole">
                                            <div><small>Es obligatorio</small></div>
                                        </div>
                                    </fieldset>
                                </md-input-container>
                                <md-input-container flex-gt-sm="40">
                                    <label>{{ 'EMAIL' | translate }}</label>
                                    <input name="email" ng-model="personaDTO.usuario.email" type="email"
                                           required md-maxlength="70">
                                    <div ng-messages="usuarioForm.email.$error" ng-show="usuarioForm.email.$touched || data.submitted">
                                        <div ng-messages-include="error-messages"></div>
                                    </div>
                                </md-input-container>
                            </div>
                        </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button ng-click="goIndex()">Cancelar</md-button>
                                <md-button type="submit" class="md-raised md-primary">Aceptar</md-button>
                            </md-card-actions>
                            </form>
                    </md-card>
                </div>
            </div>
        </div>
    </md-content>
</div>