<md-content layout="column" layout-align="start center" class="md-main-content" flex>
            <md-card class="md-whiteframe-z5 md-main-content-card">
               <md-toolbar class="md-accent">
                   <div class="md-toolbar-tools">
                       <span>Ver historia clínica</span>
                   </div>
               </md-toolbar>
                <md-card-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Datos personales">

                        </md-tab>
                        <md-tab label="Datos de la consulta">
                            <md-content class="md-padding">

                            </md-content>
                        </md-tab>
                        <md-tab label="Diagnóstico">
                            <md-content class="md-padding">

                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="vm.goIndex()">Cancelar</md-button>
                    <md-button type="submit" class="md-raised md-primary">Aceptar</md-button>
                </md-card-actions>
            </md-card></md-content>

