<div layout-gt-sm="row" layout-margin>
    <md-list-item class="md-2-line md-long-text" flex-gt-sm="15">
        <div class="md-list-item-text md-offset">
            <h4>{{'APELLIDO' | translate}}, {{'NOMBRE' | translate}}</h4>

            <p>{{persona.apellido}}, {{persona.nombre}}</p>
        </div>
    </md-list-item>
    <md-list-item class="md-2-line md-long-text" flex-gt-sm="20">
        <div class="md-list-item-text md-offset">
            <h4>{{'DOCUMENTO' | translate}}</h4>

            <p>{{persona.documento.tipoDocumento.nombre}} - {{persona.documento.numero}}</p>
        </div>
    </md-list-item>
    <md-list-item class="md-2-line md-long-text" flex-gt-sm="20">
        <div class="md-list-item-text md-offset">
            <h4>{{'SEXO' | translate}}</h4>

            <p>{{persona.sexo.nombre | noDefinido}}</p>
        </div>
    </md-list-item>
    <md-list-item class="md-2-line md-long-text" flex-gt-sm="15">
        <div class="md-list-item-text md-offset">
            <h4>{{'FECHA_NAC' | translate}}</h4>

            <p>{{(persona.fechaNacimiento | date:'dd/MM/yyyy') || (persona.fechaNacimiento | noDefinido)}}</p>
        </div>
    </md-list-item>
</div>