<div layout-gt-sm="row" layout-margin>
    <md-list-item class="md-2-line md-long-text" flex-gt-sm="15">
        <div class="md-list-item-text md-offset">
            <h4>{{'LEGAJO' | translate}}</h4>

            <p>{{persona.legajo}}</p>
        </div>
    </md-list-item>
    <md-list-item class="md-2-line md-long-text" flex-gt-sm="15">
        <div class="md-list-item-text md-offset">
            <h4>{{'MATRICULA' | translate}}</h4>

            <p>{{persona.matricula}}</p>
        </div>
    </md-list-item>
    <md-list-item class="md-2-line md-long-text" flex-gt-sm="15">
        <div class="md-list-item-text md-offset">
            <h4>{{'PROFESION' | translate}}</h4>

            <p>{{persona.profesion}}</p>
        </div>
    </md-list-item>
</div>