<div class="input-group">
    <input type="text"
           class="form-control"
           datepicker-popup="{{format}}"
           placeholder="dd-mm-yyyy"
           ng-model="ngModel"
           is-open="opened"
           min-date="minDate"
           max-date="maxDate"
           datepicker-options="dateOptions"
           close-text="Cerrar"
           ng-required="{{isRequired}}"
           name="{{modelName}}"
           show-weeks="false"
           show-button-bar="false"
            current-text="Hoy"
            clear-text="Limpiar"/>
  <span class="input-group-btn">
    <button type="button"
            class="btn"
            ng-click="open($event)">
        <i class="glyphicon glyphicon-calendar"></i>
    </button>
  </span>
</div>


<!--date-disabled="disabled(date, mode)"-->