<md-dialog ng-cloak>
    <form name="form" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Dar de baja</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancelar()">

                    <ng-md-icon icon="close" size="40" style="fill: white"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content">
                <h2>Describa el motivo de la baja</h2>

                <div layout="row">
                    <md-input-container flex>
                        <label>Motivo de la baja </label>
                        <textarea ng-model="motivoBaja" columns="3" md-maxlength="150" name="motivo"
                                  required="true"></textarea>

                        <div ng-messages="form.motivo.$error" ng-show="form.motivo.$invalid && form.motivo.$touched">
                            <div ng-include="error-messages"></div>
                        </div>
                    </md-input-container>
                </div>

            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            {{ motivoBaja }}
            <span flex></span>
            <md-button ng-click="cancelar()">Cancelar</md-button>
            <md-button type="submit" class="md-raised md-primary" ng-click="confirmar()">Aceptar</md-button>
        </div>
    </form>
</md-dialog>