<md-tabs md-dynamic-height md-border-bottom>
    <md-tab>
        <md-tab-label>
            <div layout layout-align="center center">
                {{ 'DATOS_PERSONALES' | translate }}
            </div>
        </md-tab-label>
        <md-tab-body>
            <md-list>
                <div layout-gt-sm="row" layout-margin>
                    <md-list-item class="md-2-line" flex="25">
                        <div class="md-list-item-text compact">
                            <h4> Apellido, nombre </h4>

                            <p>{{vm.paciente.apellido}}, {{vm.paciente.nombre }} </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" flex="25">
                        <div class="md-list-item-text compact">
                            <h4> Tipo y numero documento</h4>

                            <p> {{vm.paciente.documento.tipoDocumento.nombre}} {{ vm.paciente.documento.numero }} </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line " flex="25">
                        <div class="md-list-item-text compact">
                            <h4> Sexo</h4>

                            <p>{{vm.paciente.sexo.nombre}} </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" flex="25">
                        <div class="md-list-item-text compact">
                            <h4> Estado civil </h4>

                            <p>{{vm.paciente.estadoCivil.nombre }} </p>
                        </div>
                    </md-list-item>
                </div>
                <div layout-gt-sm="row" layout-margin>
                    <md-list-item class="md-2-line" flex="25">
                        <div class="md-list-item-text compact">
                            <h4> Fecha de nacimiento </h4>

                            <p>{{vm.paciente.fechaNacimiento | date:'dd/MM/yyyy' || vm.paciente.fechaNacimiento | noDefinido}} </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" flex="25">
                        <div class="md-list-item-text compact">
                            <h4> Provincia de nacimiento </h4>

                            <p>{{vm.paciente.lugarDeNacimiento.provincia.nombre | noDefinido}} </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line " flex="25">
                        <div class="md-list-item-text compact">
                            <h4>Ciudad de nacimiento </h4>

                            <p> {{vm.paciente.lugarDeNacimiento.nombre | noDefinido}} </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line " flex="25">
                        <div class="md-list-item-text compact">
                            <h4>Nacionalidad </h4>

                            <p> {{vm.paciente.nacionalidad.nombre | noDefinido}} </p>
                        </div>
                    </md-list-item>
                    <div flex-gt-sm></div>
                </div>
            </md-list>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label>
            <div layout layout-align="center center">
                Domicilio y contacto
            </div>
        </md-tab-label>
        <md-tab-body>
            <md-list>
                <div layout="row" layout-margin>
                    <md-list-item class="md-2-line " flex="25">
                        <div class="md-list-item-text compact">
                            <h4> Correo electrónico </h4>

                            <p>{{vm.paciente.email | noDefinido}} </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line " flex="25">
                        <div class="md-list-item-text compact">
                            <h4> Teléfono </h4>

                            <p>{{vm.paciente.telefono | noDefinido}} </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line " flex="25">
                        <div class="md-list-item-text compact">
                            <h4>Celular</h4>

                            <p>{{vm.paciente.celular | noDefinido}} </p>
                        </div>
                    </md-list-item>
                    <span flex></span>
                </div>
                <div layout="row" layout-margin>
                    <md-list-item class="md-2-line" flex="25">
                        <div class="md-list-item-text compact">
                            <h4> Calle </h4>

                            <p> {{vm.paciente.domicilio.calle | noDefinido}} </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" flex="10">
                        <div class="md-list-item-text compact">
                            <h4> Número </h4>

                            <p> {{vm.paciente.domicilio.numeroCalle | noDefinido}} </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" flex="5">
                        <div class="md-list-item-text compact">
                            <h4> Piso </h4>

                            <p> {{vm.paciente.domicilio.piso | noDefinido}} </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" flex="5">
                        <div class="md-list-item-text compact">
                            <h4> Dpto.</h4>

                            <p> {{vm.paciente.domicilio.piso }} {{ vm.paciente.domicilio.departamento |
                                noDefinido}} </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line " flex="20">
                        <div class="md-list-item-text compact">
                            <h4>Ciudad </h4>

                            <p>{{vm.paciente.domicilio.barrio.ciudad.nombre | noDefinido}} </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" flex="20">
                        <div class="md-list-item-text compact">
                            <h4>Barrio</h4>

                            <p>{{vm.paciente.domicilio.barrio.nombre | noDefinido}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" flex="10">
                        <div class="md-list-item-text compact">
                            <h4>Código postal</h4>

                            <p>{{vm.paciente.domicilio.codigoPostal | noDefinido}}</p>
                        </div>
                    </md-list-item>
                </div>
            </md-list>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label>
            <div layout layout-align="center center">
                Trabajo
            </div>
        </md-tab-label>
        <md-tab-body>
            <md-list>
                <div layout-gt-sm="row" layout-margin flex-gt-sm>
                    <md-list-item class="md-2-line" flex-gt-sm="25">
                        <div class="md-list-item-text compact">
                            <h4>Trabajo </h4>

                            <p> {{vm.paciente.trabajo.nombre | noDefinido}} </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" flex-gt-sm="25">
                        <div class="md-list-item-text compact">
                            <h4>Nivel de estudios</h4>

                            <p>{{vm.paciente.nivelEstudio.nombre | noDefinido}} </p>
                        </div>
                    </md-list-item>
                </div>
            </md-list>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label>
            <div layout layout-align="center center">
                Datos médicos
            </div>
        </md-tab-label>
        <md-tab-body>
            <md-list>
                <div layout-gt-sm="row" layout-margin flex-gt-sm>
                    <md-list-item class="md-2-line" flex-gt-sm="25">
                        <div class="md-list-item-text compact">
                            <h4> Obra social</h4>

                            <p>{{vm.paciente.obraSocial.nombre | noDefinido}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" flex-gt-sm="25">
                        <div class="md-list-item-text compact">
                            <h4>Médico de cabecera</h4>

                            <p>{{vm.paciente.medicoCabecera | noDefinido}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" flex-gt-sm="25">
                        <div class="md-list-item-text compact">
                            <h4>Teléfono médico cabecera</h4>

                            <p> {{vm.paciente.telefonoMedicoCabecera | noDefinido}} </p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" flex-gt-sm="25">
                        <div class="md-list-item-text compact">
                            <h4> Servicio de emergencia</h4>

                            <p>{{vm.paciente.servicioEmergencia | noDefinido }}</p>
                        </div>
                    </md-list-item>
                </div>
            </md-list>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label>
            <div layout layout-align="center center">
                Otros datos
            </div>
        </md-tab-label>
        <md-tab-body>
            <md-list>
                <div layout="row" layout-margin>
                    <md-list-item class="md-2-line" flex="25">
                        <div class="md-list-item-text compact">
                            <h4> Religión </h4>

                            <p>{{vm.paciente.religion | noDefinido}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" flex="15">
                        <div class="md-list-item-text compact">
                            <h4>Privado de la libertad</h4>

                            <p>{{vm.paciente.privadoLibertad | siNo}}</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ng-if="vm.paciente.privadoLibertad" flex="25">
                        <div class="md-list-item-text compact">
                            <h4>Lugar de reclusión</h4>

                            <p>{{vm.paciente.privadoLibertadDonde | noDefinido}}</p>
                        </div>
                    </md-list-item>
                </div>
                <div layout="row" ng-if="vm.paciente.fechaBaja" layout-margin>
                    <md-list-item class="md-2-line" flex="25">
                        <div class="md-list-item-text compact">
                            <h4>{{'FECHA_BAJA' | translate}}</h4>

                            <p>{{vm.paciente.fechaBaja | date:'dd/MM/yyyy' }}</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" flex="70">
                        <div class="md-list-item-text compact">
                            <h4>{{'MOTIVO_BAJA' | translate}}</h4>

                            <p>{{vm.paciente.motivoBaja | noDefinido}}</p>
                        </div>
                    </md-list-item>
                </div>
            </md-list>
        </md-tab-body>
    </md-tab>
</md-tabs>