<md-content layout="column" layout-align="start center" class="md-main-content" flex>
        <md-card class="md-whiteframe-z5 md-main-content-card">
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <span>Editar trabajo práctico</span>
                </div>
            </md-toolbar>
            <md-card-content>
                <form name="editTrabajoPracticoForm" novalidate>
                    <p>Complete los datos para editar el trabajo práctico</p>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Nombre</label>
                            <input name="nombre" ng-model="trabajoPractico.nombre"
                                   required md-maxlength="100">
                            <div ng-messages="editTrabajoPracticoForm.nombre.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">El nombre es un campo requerido.</div>
                                <div ng-message="md-maxlength" class="my-message">
                                    El nombre no puede tener màs de 100 caracteres.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Grupo</label>
                            <md-select ng-model="selectedGrupo" name="grupoPractica">
                                <md-option ng-repeat="grupo in data.gruposPractica" ng-value="grupo.nombre">
                                    {{ grupo.nombre }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Práctica</label>
                            <md-select required ng-model="trabajoPractico.practicaOdontologica" name="practica"                                    >
                                <md-option ng-repeat="practica in practicasSelect" ng-value="practica.denominacion">
                                    {{ practica.denominacion }}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Descripción</label>
                            <textarea ng-model="trabajoPractico.descripcion" columns="5" md-maxlength="400" required
                                      name="descripcion"></textarea>

                            <div ng-messages="editTrabajoPracticoForm.descripcion.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">La descripcion es un campo
                                    requerido.
                                </div>
                                <div ng-message="md-maxlength" class="my-message">
                                    La descripción no puede tener màs de 400 caracteres.
                                </div>
                            </div>
                        </md-input-container>
                    </div>

                        <div ng-if="trabajoPractico.practicaOdontologica">
                            <h2 class="md-title">Descripción práctica</h2>
                            <p>
                                {{trabajoPractico.practicaOdontologica.observaciones}}
                            </p>
                        </div>
                </form>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="goIndex()">Cancelar</md-button>
                <md-button type="submit" class="md-raised md-primary" ng-click="save()">Aceptar</md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>

