<md-content layout="column" layout-align="start center" class="md-main-content">
<form name="createPacienteForm" novalidate>
    <div layout="column" style="height:500px;" ng-cloak>
        <section layout="row" flex>
            <md-sidenav
                    class="md-sidenav-left"
                    md-component-id="left"
                    md-is-locked-open="true"
                    md-disable-backdrop
                    md-whiteframe="4">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Sidenav Left</h1>
                </md-toolbar>
                <md-content layout-padding>
                    <md-list>
                        <md-list-item class="md-menu-item">
                            <ng-md-icon icon="school"></ng-md-icon>
                            <md-button ui-sref="materia.index">Materia</md-button>
                        </md-list-item>
                        <md-list-item class="md-menu-item">
                            <ng-md-icon icon="work"></ng-md-icon>
                            <md-button ui-sref="trabajoPractico.index">Trabajo práctico</md-button>
                        </md-list-item>
                        <md-list-item class="md-menu-item">
                            <ng-md-icon icon="person"></ng-md-icon>
                            <md-button ui-sref="usuario.index">Usuario</md-button>
                        </md-list-item>
                        <md-list-item class="md-menu-item">
                            <ng-md-icon icon="account_balance"></ng-md-icon>
                            <md-button ui-sref="catedra.index">Cátedra</md-button>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-sidenav>
            <md-content layout-padding>
                <div layout="row" layout-align="top center">
                    <pieza-dental></pieza-dental>
                </div>
            </md-content>
        </section>
    </div>
</form>
</md-content>



