<md-content layout="column" layout-align="start center" class="md-main-content">
    <form name="createPacienteForm" novalidate>
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                        md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">{{ 'TRATAMIENTOS' | translate }}</h1>
                </md-toolbar>
                <md-content layout-padding>
                    <md-list>
                        <div ng-repeat="tratamiento in vm.tratamientos">
                            <md-list-item>
                                <md-checkbox ng-model="vm.selectedTratamiento"></md-checkbox>
                                <p> {{tratamiento.nombre}} </p>
                                <!--<md-icon class="md-secondary"></md-icon>-->
                            </md-list-item>
                            <md-divider></md-divider>
                        </div>
                    </md-list>
                </md-content>
            </md-sidenav>
            <md-content flex layout-padding>
                <div layout="column" layout-fill layout-align="top center">
                    <p>
                        The left sidenav will 'lock open' on a medium (>=960px wide) device.
                    </p>

                    <p>
                        The right sidenav will focus on a specific child element.
                    </p>

                </div>
                <div flex></div>
            </md-content>
        </section>
    </form>
</md-content>



