<md-content layout="column" layout-align="start center" class="md-main-content">
    <md-card class="md-whiteframe-z5 md-main-content-card" id="md-card-tab">
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <span>Ver paciente </span>
                </div>
            </md-toolbar>
            <md-card-content id="md-card-tab-content">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab>
                        <md-tab-label>
                            <div layout layout-align="center center">
                                Datos personales
                            </div>
                        </md-tab-label>
                        <md-tab-body>
                            <md-list>
                                <div layout-gt-sm="row" layout-margin>
                                    <md-list-item class="md-2-line"  flex="25">
                                        <div class="md-list-item-text compact" >
                                            <h4> Apellido, nombre </h4>
                                            <p class="muted">{{vm.paciente.apellido}}, {{vm.paciente.nombre }}  </p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line" flex="25">
                                        <div class="md-list-item-text compact" >
                                            <h4> Tipo y numero documento</h4>
                                            <p class="muted"> {{vm.paciente.documento.tipoDocumento.nombre}} {{ vm.paciente.documento.numero }} </p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line " flex="25">
                                        <div class="md-list-item-text compact" >
                                            <h4> Sexo</h4>
                                            <p class="muted">{{vm.paciente.sexo.nombre}} </p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line"  flex="25">
                                        <div class="md-list-item-text compact" >
                                            <h4> Estado civil  </h4>
                                            <p class="muted">{{vm.paciente.estadoCivil.nombre }} </p>
                                        </div>
                                    </md-list-item>
                                </div>
                                <div layout-gt-sm="row" layout-margin>
                                    <md-list-item class="md-2-line"  flex="25">
                                        <div class="md-list-item-text compact" >
                                            <h4> Provincia de nacimiento </h4>
                                            <p class="muted">{{vm.paciente.provinciaNacimiento.nombre  | noDefinido}}  </p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line "  flex="25">
                                        <div class="md-list-item-text compact" >
                                            <h4>Ciudad de nacimiento </h4>
                                            <p class="muted"> {{vm.paciente.lugarDeNacimiento.nombre | noDefinido}} </p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line "  flex="25">
                                        <div class="md-list-item-text compact" >
                                            <h4>Nacionalidad </h4>
                                            <p class="muted"> {{vm.paciente.nacionalidad.nombre | noDefinido}} </p>
                                        </div>
                                    </md-list-item>
                                    <div flex-gt-sm></div>
                                </div>
                            </md-list>
                        </md-tab-body>
                    </md-tab>
                    <md-tab>
                        <md-tab-label>
                            <div layout layout-align="center center">
                                Domicilio y contacto
                            </div>
                        </md-tab-label>
                        <md-tab-body>
                                <md-list>
                                    <div layout-gt-sm="row" layout-margin>
                                        <md-list-item class="md-2-line"  flex-gt-sm="25">
                                            <div class="md-list-item-text compact" >
                                                <h4> {{vm.paciente.domicilio.calle | noDefinido}} {{ vm.paciente.domicilio.numeroCalle }} </h4>
                                                <p class="muted"> Dirección </p>
                                            </div>
                                        </md-list-item>
                                        <md-list-item class="md-2-line" flex-gt-sm="25">
                                            <div class="md-list-item-text compact" >
                                                <h4> {{vm.paciente.domicilio.piso }} {{ vm.paciente.domicilio.departamento | noDefinido}} </h4>
                                                <p class="muted"> Departamento </p>
                                            </div>
                                        </md-list-item>
                                        <md-list-item class="md-2-line" flex-gt-sm="25">
                                            <div class="md-list-item-text compact" >
                                                <h4> {{vm.paciente.domicilio.barrio.nombre | noDefinido}} </h4>
                                                <p class="muted"> Barrio </p>
                                            </div>
                                        </md-list-item>
                                        <md-list-item class="md-2-line " flex-gt-sm="25">
                                            <div class="md-list-item-text compact" >
                                                <h4> {{vm.paciente.domicilio.barrio.ciudad.nombre | noDefinido}} </h4>
                                                <p class="muted"> Ciudad </p>
                                            </div>
                                        </md-list-item>
                                    </div>
                                    <div layout-gt-sm="row" layout-margin>
                                        <md-list-item class="md-2-line " flex-gt-sm="25">
                                            <div class="md-list-item-text compact" >
                                                <h4> {{vm.paciente.telefono | noDefinido}} </h4>
                                                <p class="muted"> Teléfono </p>
                                            </div>
                                        </md-list-item>
                                        <md-list-item class="md-2-line " flex-gt-sm="25">
                                            <div class="md-list-item-text compact" >
                                                <h4> {{vm.paciente.celular | noDefinido}}</h4>
                                                <p class="muted"> Celular </p>
                                            </div>
                                        </md-list-item>
                                        <span flex></span>
                                    </div>
                                </md-list>
                        </md-tab-body>
                    </md-tab>
                    <md-tab>
                        <md-tab-label>
                            <div layout layout-align="center center">
                                Trabajo
                            </div>
                        </md-tab-label>
                        <md-tab-body>
                            <md-list>
                                <div layout-gt-sm="row" layout-margin flex-gt-sm>
                                    <md-list-item class="md-2-line" flex-gt-sm="25">
                                        <div class="md-list-item-text compact" >
                                            <h4> {{vm.paciente.trabajo.nombre | noDefinido}} </h4>
                                            <p class="muted"> Trabajo </p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line" flex-gt-sm="25" >
                                        <div class="md-list-item-text compact" >
                                            <h4> {{vm.paciente.nivelEstudio.nombre | noDefinido}}</h4>
                                            <p class="muted"> Nivel de estudios </p>
                                        </div>
                                    </md-list-item>
                                </div>
                            </md-list>
                        </md-tab-body>
                    </md-tab>
                    <md-tab>
                        <md-tab-label>
                            <div layout layout-align="center center">
                                Datos médicos
                            </div>
                        </md-tab-label>
                        <md-tab-body>
                            <md-list>
                                <div layout-gt-sm="row" layout-margin flex-gt-sm>
                                    <md-list-item class="md-2-line" flex-gt-sm="25">
                                        <div class="md-list-item-text compact" >
                                            <h4> {{vm.paciente.obraSocial.nombre | noDefinido}} </h4>
                                            <p class="muted"> Obra social </p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line" flex-gt-sm="25">
                                        <div class="md-list-item-text compact" >
                                            <h4> {{vm.paciente.numeroObraSocial  | noDefinido}}</h4>
                                            <p class="muted"> Teléfono obra social</p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line" flex-gt-sm="25">
                                        <div class="md-list-item-text compact" >
                                            <h4> {{vm.paciente.medicoCabecera  | noDefinido}}</h4>
                                            <p class="muted"> Médico de cabecera</p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line" flex-gt-sm="25">
                                        <div class="md-list-item-text compact" >
                                            <h4> {{vm.paciente.servicioEmergencia  | noDefinido }}</h4>
                                            <p class="muted"> Servicio de emergencia</p>
                                        </div>
                                    </md-list-item>
                                </div>
                            </md-list>
                        </md-tab-body>
                    </md-tab>
                    <md-tab>
                        <md-tab-label>
                            <div layout layout-align="center center">
                                Otros datos
                            </div>
                        </md-tab-label>
                        <md-tab-body>
                            <md-list>
                                <div layout-gt-sm="row" layout-margin flex-gt-sm>
                                    <md-list-item class="md-2-line" flex-gt-sm="25">
                                        <div class="md-list-item-text compact" >
                                            <h4> {{vm.paciente.religion | noDefinido}} </h4>
                                            <p class="muted"> Religión </p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line" ng-if="vm.paciente.privadoLugar" flex-gt-sm="25">
                                        <div class="md-list-item-text compact" >
                                            <h4> {{vm.paciente.privadoLugar | noDefinido}}</h4>
                                            <p class="muted"> Lugar de reclusión</p>
                                        </div>
                                    </md-list-item>
                                </div>
                            </md-list>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="vm.goIndex()">Volver</md-button>
            </md-card-actions>
    </md-card>
</md-content>