<div layout="column" flex>
<md-content flex md-scroll-y layout-fill flex-gt-sm="90" flex-gt-xs="90" class="md-main-content">
        <div layout="column" layout-fill layout-padding>
            <div>
                <div layout="row" layout-align="center center">
                    <md-card flex-gt-sm class="md-whiteframe-z5" id="md-card-tab">
                    <md-toolbar class="md-accent">
                        <div class="md-toolbar-tools">
                            <h2>
                            <span>{{  vm.titulo }} > {{ vm.tabTitulo }} </span>
                            </h2>
                            <span flex></span>
                            <md-button ng-click="vm.mostrar(0)" hide-xs>
                                 {{ 'DATOS_PERSONALES' | translate }}
                            </md-button>
                            <md-button ng-click="vm.mostrar(1)" hide-xs>
                                {{ 'ANTECEDENTES' | translate }}
                            </md-button>
                            <md-button ng-click="vm.mostrar(2)" hide-xs>
                                {{ 'DIAGNOSTICOS' | translate }}
                            </md-button>
                            <md-button ng-click="vm.mostrar(3)" hide-xs>
                                {{ 'ATENCIONES' | translate }}
                            </md-button>
                            <md-menu>
                                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                    <ng-md-icon icon="more_vert" style="fill: white"></ng-md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item show-xs hide-gt-sm>
                                        <md-button ng-click="vm.mostrar(0)">
                                            {{ 'DATOS_PERSONALES' | translate }}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item show-xs hide-gt-sm>
                                        <md-button ng-click="vm.mostrar(1)">
                                        {{ 'ANTECEDENTES' | translate }}
                                    </md-button>
                                    </md-menu-item>
                                    <md-menu-item show-xs hide-gt-sm>
                                        <md-button ng-click="vm.mostrar(2)">
                                            {{ 'DIAGNOSTICOS' | translate }}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item show-xs hide-gt-sm>
                                        <md-button ng-click="vm.mostrar(3)">
                                            {{ 'ATENCIONES' | translate }}
                                        </md-button>
                                    </md-menu-item>
                                    <md-divider show-xs hide-gt-sm></md-divider>
                                    <md-menu-item ng-if="!item.fechaBaja">
                                        <md-button aria-label="Editar paciente" ng-click="vm.edit(vm.paciente.id)">
                                            <ng-md-icon icon="edit" size="24" hide-xs></ng-md-icon>
                                            {{ 'MODIFICAR' | translate }}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="!item.fechaBaja">
                                        <md-button ng-click="vm.openDeleteDialog($event)">
                                            <ng-md-icon icon="delete" hide-xs></ng-md-icon>
                                            {{ 'DAR_BAJA' | translate }}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="vm.paciente.fechaBaja">
                                        <md-button ng-click="vm.openRestoreDialog($event)">
                                            <ng-md-icon icon="restore" hide-xs></ng-md-icon>
                                            {{ 'DAR_ALTA' | translate }}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.openRestoreDialog($event)">
                                            <ng-md-icon icon="print"></ng-md-icon>
                                            {{ 'IMPRIMIR' | translate }}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </md-toolbar>
                    <md-card-content id="md-card-tab-content">
                        <div ng-show="vm.tabs[0]" class="tabs">
                            <!--<h1 class="md-title md-offset">{{ 'DATOS_PERSONALES' | translate }}</h1>-->
                            <md-tabs md-dynamic-height md-border-bottom>
                                <ng-include src="'views/paciente/datosPersonalesEdit.html'"></ng-include>
                            </md-tabs>
                        </div>
                        <div ng-show="vm.tabs[1]" class="tabs">
                            <md-tabs md-dynamic-height md-border-bottom  ng-if="vm.tabs[1]">
                                <ng-include src="'views/paciente/antecedentesEdit.html'"></ng-include>
                            </md-tabs>
                        </div>
                        <div ng-if="vm.tabs[2]" class="tabs">
                            <md-tabs md-dynamic-height md-border-bottom  ng-if="vm.tabs[2]">
                            </md-tabs>
                        </div>
                        <div ng-if="vm.tabs[3]" class="tabs">
                            <md-tabs md-dynamic-height md-border-bottom  ng-if="vm.tabs[3]">
                            </md-tabs>
                        </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="vm.goIndex()">{{ 'VOLVER' | translate }}</md-button>
                    </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>
    </md-content>
</div>
