<div layout="column">
    <md-button class="md-fab md-fab-bottom-right"  aria-label="Add" ng-click="vm.create()">
        <md-tooltip>
            Nuevo
        </md-tooltip>
        <ng-md-icon icon="add" size="24" style="fill: white"></ng-md-icon>
    </md-button>
    <md-content flex md-scroll-y layout-fill flex-gt-sm="90" flex-gt-xs="90" class="md-main-content">
        <div layout="column" layout-fill layout-padding>
            <div>
                <div layout="row" layout-align="center center">
                    <md-card class="md-whiteframe-z5"  flex-gt-sm>
                        <md-toolbar class="md-accent">
                            <div class="md-toolbar-tools">
                                <span>Consultar paciente</span>
                            </div>
                        </md-toolbar>
                        <md-card-content>
                            <form name="consultarPacienteForm" novalidate ng-submit="vm.consultar(consultarPacienteForm)">
                                <div layout="row" layout-margin>
                                    <md-input-container flex-gt-sm>
                                        <label>Apellido</label>
                                        <input ng-model="vm.filter.apellido" name="apellido" ng-keypress="vm.keyboardOk($event)">
                                    </md-input-container>
                                    <md-input-container flex-gt-sm>
                                        <label>Nombre</label>
                                        <input ng-model="vm.filter.nombre" name="nombre" ng-keypress="vm.keyboardOk($event)">
                                    </md-input-container>
                                    <div flex="50" layout-gt-sm="row" layout-align="start center">
                                        <md-button type="submit">
                                            <md-tooltip>
                                                Buscar
                                            </md-tooltip>
                                            <ng-md-icon icon="search" size="40" ng-attr-style="fill: {{vm.colorIcon[0]}}"
                                                        ng-Mouseover="vm.colorMouseOver(0)"
                                                        ng-mouseleave="vm.colorMouseLeave(0)"></ng-md-icon>
                                        </md-button>
                                        <md-button type="button" ng-click="vm.aux.mostrarFiltros = !vm.aux.mostrarFiltros">
                                            <md-tooltip>
                                                Ver filtros
                                            </md-tooltip>
                                            <ng-md-icon icon="{{vm.clickIcon}}" size="40" ng-attr-style="fill: {{vm.colorIcon[1]}}"
                                                        ng-Mouseover="vm.colorMouseOver(1)" ng-mouseleave="vm.colorMouseLeave(1)"
                                                        options='{"duration": 375, "rotation": "none"}'
                                                        ng-click="vm.clickIconMorph()"></ng-md-icon>
                                        </md-button>
                                        <md-button ng-click="vm.cleanFilters()" type="button">
                                            <md-tooltip>
                                                Limpiar filtros
                                            </md-tooltip>
                                            <ng-md-icon icon="clear" size="40" ng-attr-style="fill: {{vm.colorIcon[2]}}"
                                                        ng-Mouseover="vm.colorMouseOver(2)"
                                                        ng-mouseleave="vm.colorMouseLeave(2)"></ng-md-icon>
                                        </md-button>
                                    </div>
                                </div>
                                <div layout="row" layout-margin ng-show="vm.aux.mostrarFiltros" layout-xs="column" class="animated-div">
                                    <md-input-container flex-gt-sm>
                                        <md-select ng-model="vm.filter.tipoDocumento" name="tipoDocumento" placeholder="Tipo de doc.">
                                            <md-option ng-repeat="tipoDoc in vm.data.tiposDocumentos" ng-value="tipoDoc.key">
                                                {{ tipoDoc.nombre }}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container  flex-gt-sm>
                                        <label>Número de documento</label>
                                        <input ng-model="vm.filter.numeroDocumento" name="numeroDocumento"
                                               ng-disabled="!vm.aux.isTipoDocumentoSelected" ng-pattern="/^[0-9]+$/">
                                        <div ng-messages="consultarPacienteForm.numeroDocumento.$error"
                                             ng-show="consultarPacienteForm.numeroDocumento.$touched
                                                    || consultarPacienteForm.numeroDocumento.$invalid"
                                             multiple class="errors">
                                            <div ng-messages-include="error-messages"></div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container  flex-gt-sm>
                                        <md-select ng-model="vm.filter.sexo" name="sexo" placeholder="Sexo">
                                            <md-option ng-repeat="sexo in vm.data.sexos" ng-value="sexo.key">
                                                {{ sexo.nombre }}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container>
                                        <md-checkbox ng-model="vm.filter.dadosBaja" aria-label="Incluir dados de baja">
                                            Incluir dados de baja
                                        </md-checkbox>
                                    </md-input-container>
                                </div>
                                <filter-chips data="vm.filterChips"></filter-chips>
                                <md-list ng-show="vm.result.length > 0" class="md-dense">
                                    <md-list-item class="md-3-line" ng-class="{'deleted-item' : item.fechaBaja}" ng-repeat="item in vm.result" ng-click="vm.view(item.id)">
                                        <img ng-src="{{item.img}}" class="md-avatar list-item-{{$index}}" hide-xs/>
                                        <div class="md-list-item-text" layout="column">
                                            <h3 class="md-title">
                                                <a>{{item.apellido}}, {{ item.nombre }}</a>
                                            </h3>
                                            <h4 class="muted">{{ item.documento.tipoDocumento.nombre }}: {{ item.documento.numero }}</h4>
                                        </div>
                                        <md-divider md-inset ng-if="!$last"></md-divider>
                                    </md-list-item>
                                    <md-divider></md-divider>
                                    <md-list-item layout class="inset">
                                        <md-button layout layout-align="center center" flex ng-click="vm.previousPage()"
                                                   ng-disabled="vm.paginationData.firstPage">
                                            <ng-md-icon icon="arrow_back" ng-disabled="vm.paginationData.firstPage"></ng-md-icon>
                                            Anterior
                                        </md-button>
                                        <md-button layout layout-align="center center" flex ng-click="vm.nextPage()"
                                                   ng-disabled="!vm.paginationData.morePages">
                                            Siguiente
                                            <ng-md-icon icon="arrow_forward" style="fill: black"
                                                        ng-disabled="!vm.paginationData.morePages"></ng-md-icon>
                                        </md-button>
                                    </md-list-item>
                                </md-list>
                                <ng-include ng-if="vm.result.length == 0" src="'views/no-results.html'"></ng-include>
                            </form>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </md-content>
</div>




