<div layout="row" layout-align="center start">
    <div layout="column" flex="80">
        <form name="createPacienteForm" novalidate ng-submit="save()">
            <md-card>
                <md-toolbar class="md-accent">
                    <div class="md-toolbar-tools">
                        <span>Crear paciente</span>
                    </div>
                </md-toolbar>
                <md-card-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Datos personales">
                            <div layout="row" ng-include="'views/paciente/pacienteDatosPersonalesTab.html'"></div>
                        </md-tab>
                        <md-tab label="Datos de la consulta">
                            <md-content class="md-padding">

                            </md-content>
                        </md-tab>
                        <md-tab label="Diagnóstico">
                            <md-content class="md-padding">

                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="goIndex()">Cancelar</md-button>
                    <md-button type="submit" class="md-raised md-primary">Aceptar</md-button>
                </md-card-actions>
            </md-card>
        </form>
    </div>
</div>

