<div layout="column" flex>
    <md-content flex md-scroll-y layout-fill flex-gt-sm="90" flex-gt-xs="90" class="md-main-content">
        <div layout="column" layout-fill layout-padding>
            <div>
                <div layout="row" layout-align="center center">
                    <md-card flex-gt-sm class="md-whiteframe-z5" id="md-card-tab">
                        <md-card-header>
                            <md-card-header-text>
                                <span class="md-title">{{ vm.paciente.apellido }}, {{ vm.paciente.nombre }}</span>
                                <span class="md-subhead">{{ vm.paciente.documento.tipoDocumento.nombre }} {{
                                        vm.paciente.documento.numero }}</span>
                            </md-card-header-text>
                            <span flex></span>
                            <md-button ng-disabled="vm.isDatosPersonalesSelected()" class="md-raised md-primary" ng-click="vm.goDatosPersonales()" hide-xs>
                                {{ 'DATOS_PERSONALES' | translate }}
                            </md-button>
                            <md-button ng-disabled="vm.isAntecedentesSelected()" class="md-raised md-primary" ng-click="vm.goAntecedentes()" hide-xs>
                                {{ 'ANTECEDENTES' | translate }}
                            </md-button>
                            <md-button ng-disabled="vm.isDiagnosticosSelected()" class="md-raised md-primary" ng-click="vm.goDiagnosticos()" hide-xs>
                                {{ 'DIAGNOSTICOS' | translate }}
                            </md-button>
                            <md-button ng-disabled="vm.isAtencionesSelected()" class="md-raised md-primary" ng-click="vm.goAtenciones()" ng-show="!vm.data.editing" hide-xs>
                                {{ 'ATENCIONES' | translate }}
                            </md-button>
                            <md-button ng-disabled="vm.isDocumentacionesSelected()" class="md-raised md-primary" ng-click="vm.goDocumentaciones()" hide-xs>
                                Documentaciones
                            </md-button>
                            <md-menu ng-if="!vm.data.editing" md-offset="-220 60">
                                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                    <ng-md-icon icon="more_vert" style="fill: black"></ng-md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item show-xs hide-gt-sm>
                                        <md-button ng-click="vm.goDatosPersonales()">
                                            {{ 'DATOS_PERSONALES' | translate }}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item show-xs hide-gt-sm>
                                        <md-button ng-click="vm.goAntecedentes()">
                                            {{ 'ANTECEDENTES' | translate }}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item show-xs hide-gt-sm>
                                        <md-button ng-click="vm.goDiagnosticos()">
                                            {{ 'DIAGNOSTICOS' | translate }}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item show-xs hide-gt-sm ng-show="!vm.data.editing">
                                        <md-button ng-click="vm.goAtenciones()">
                                            {{ 'ATENCIONES' | translate }}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item show-xs hide-gt-sm>
                                        <md-button ng-click="vm.goDocumentaciones()">
                                            Documentaciones
                                        </md-button>
                                    </md-menu-item>
                                    <md-divider show-xs hide-gt-sm></md-divider>
                                    <md-menu-item ng-if="!session.user.alumno">
                                        <md-button ng-disabled="vm.paciente.fechaBaja || vm.onAtencionesView()" aria-label="Editar paciente"
                                                   ng-click="vm.goEdit()">
                                            <ng-md-icon icon="edit" size="24" hide-xs></ng-md-icon>
                                            {{ 'MODIFICAR' | translate }}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="!vm.paciente.fechaBaja && !session.user.alumno">
                                        <md-button ng-click="vm.openDeleteDialog($event, vm.paciente.id, vm.paciente.apellido)">
                                            <ng-md-icon icon="delete" hide-xs></ng-md-icon>
                                            {{ 'DAR_BAJA' | translate }}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="vm.paciente.fechaBaja && !session.user.alumno">
                                        <md-button ng-click="vm.openRestoreDialog($event, vm.paciente.id, vm.paciente.apellido)">
                                            <ng-md-icon icon="restore" hide-xs></ng-md-icon>
                                            {{ 'DAR_ALTA' | translate }}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.printHC()">
                                            <ng-md-icon icon="print"></ng-md-icon>
                                            {{ 'IMPRIMIR' | translate }}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-card-header>
                        <form novalidate name="hcForm">
                            <md-card-content id="md-card-tab-content">
                                <ng-include ng-if="vm.validationErrorFromServer.error"
                                            src="'views/validation-error.html'"></ng-include>
                                <p ng-if="vm.paciente.fechaBaja" style="color: red;"><ng-md-icon  icon="thumb_down" style="fill: red">
                                </ng-md-icon>&nbsp;El paciente se encuentra dado de baja.</p>
                                    <ui-view></ui-view>
                            </md-card-content>
                            <md-card-actions ng-if="!vm.data.editing" layout="row" layout-align="end center">
                                <md-button ng-click="vm.goToConsultar()" class="md-primary">{{ 'VOLVER' | translate }}</md-button>
                            </md-card-actions>

                            <md-card-actions ng-if="vm.data.editing" layout="row" layout-align="end center">
                                <md-button ng-click="vm.cancelEditing()">{{ 'CANCELAR' | translate }}</md-button>
                                <md-button ng-click="vm.submit(hcForm, false)" class="md-raised md-secondary">{{
                                    'ACEPTAR_TERMINAR' |
                                    translate }}
                                    <md-tooltip>
                                        Guardar cambios y terminar edición
                                    </md-tooltip>
                                </md-button>
                                <md-button ng-click="vm.submit(hcForm, true)" class="md-raised md-primary">{{ 'ACEPTAR'
                                    | translate }}
                                    <md-tooltip md-direction="left bottom">
                                        Guardar cambios y continuar edición
                                    </md-tooltip>
                                </md-button>
                            </md-card-actions>
                        </form>
                    </md-card>
                </div>
            </div>
        </div>
    </md-content>
</div>
