<style>

    .pointer {
        cursor: pointer;
    }

    svg .cara {
        stroke-width: 2;
        stroke: #000000;
        fill: #e4e4e4;

        -webkit-transition: stroke 0.5s, stroke-width 0.5s;
        -o-transition: stroke 0.5s, stroke-width 0.5s;
        transition: stroke 0.5s, stroke-width 0.5s;
    }

    svg .cara-active:hover {
        fill: #949494;
        stroke-width: 4;
        stroke: #58aeff;
    }

    #PD:hover .diente {
        fill: #949494;
        stroke-width: 4;
        stroke: #58aeff;
    }

</style>
<div layout="column" layout-align="start center" class="md-main-content">
    <form name="createPacienteForm" novalidate ng-keydown="vm.keyDown($event)" ng-keyup="vm.keyUp($event)">
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                        md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">{{ 'TRATAMIENTOS' | translate }}</h1>
                </md-toolbar>
                <md-content layout-padding  style="height: 500px">
                    <md-switch ng-model="vm.hecho">
                        Tratamiento hecho: {{ vm.hecho }}
                    </md-switch>
                    <md-list>
                        <div ng-repeat="tratamiento in vm.tratamientos">
                            <md-list-item>
                                <md-checkbox ng-model="tratamiento.selected"
                                             ng-change="vm.selectTratamiento(tratamiento)"></md-checkbox>
                                <p> {{tratamiento.nombre}} </p>
                            </md-list-item>
                            <md-divider></md-divider>
                        </div>
                    </md-list>
                </md-content>
            </md-sidenav>
            <md-content flex layout-padding>
                <div layout="column" layout-fill layout-align="top center">
                    <!--{{ vm.selectedTratamiento }}-->
                    <div layout="row">
                        <div ng-repeat="piezaDental in vm.odontograma.piezasDentalesSuperiores" diente model="piezaDental"
                             selected-tratamiento="vm.selectedTratamiento"></div>
                    </div>
                    <div layout="row">
                        <div ng-repeat="piezaDental in vm.odontograma.piezasDentalesInferiores" diente model="piezaDental"
                             selected-tratamiento="vm.selectedTratamiento"></div>
                    </div>
                </div>
            </md-content>
        </section>
    </form>
</div>



