<div layout="column">
    <md-button class="md-fab md-fab-bottom-right" ng-click="vm.addNewDiagnostico($event)">
        <md-tooltip>
            Nuevo
        </md-tooltip>
        <ng-md-icon icon="add" size="24" style="fill: white"></ng-md-icon>
    </md-button>
    <md-content>
        <div layout="column" md-scroll-y layout-padding>
            <p class="subtitle-text">Odontograma</p>
            <div layout="column">
                <form name="createPacienteForm" novalidate>
                    <div layout="row" layout-margin layout-padding>
                        <md-select ng-model="vm.selectedTratamiento " name="tratamiento" placeholder="Seleccione"
                                   ng-change="vm.selectTratamiento()">
                            <md-option ng-repeat="tratamiento in vm.tratamientos" ng-value="tratamiento">
                                {{tratamiento.nombre}}
                            </md-option>
                        </md-select>
                        <md-switch ng-model="vm.hecho" ng-change="vm.cambiarEstadoTratamiento()">
                            {{ vm.estadoSelectedTratamiento }}
                        </md-switch>
                        <md-button ng-click="vm.construirDiagnosticos($event)">Finalizar carga</md-button>
                    </div>
                    <div layout="column" layout-align="start center">
                        <div layout="row">
                            <div ng-repeat="piezaDental in vm.odontograma.piezasDentalesSuperiores"
                                 diente
                                 model="piezaDental"
                                 selected-tratamiento="vm.selectedTratamiento"
                                 add-hallazgo="vm.addHallazgo"
                                 remove-hallazgo="vm.removeHallazgo"></div>
                        </div>
                        <div layout="row">
                            <div ng-repeat="piezaDental in vm.odontograma.piezasDentalesInferiores"
                                 diente
                                 model="piezaDental"
                                 selected-tratamiento="vm.selectedTratamiento"
                                 add-hallazgo="vm.addHallazgo"
                                 remove-hallazgo="vm.removeHallazgo"></div>
                        </div>
                    </div>
                    <canvas id="canvas" width="1200" height="200" ng-hide="true"></canvas>
                </form>
            </div>
            <p class="subtitle-text less-bottom">Diagnósticos abiertos</p>
            <md-table-container ng-if="!vm.aux.editingDiagnostico" ng-show="vm.diagnosticos.length">
                <table md-table md-row-select="false"
                       multiple="false">
                    <thead md-head>
                    <tr md-row>
                        <th md-column><span>{{ 'PIEZA_DENTAL' | translate }}</span></th>
                        <th md-column><span>{{ 'PRACTICA_ODONT' | translate }}</span></th>
                        <th md-column><span>{{ 'OBSERVACIONES' | translate }}</span></th>
                        <th md-column><span>{{ 'ESTADO' | translate }}</span></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row class="pointer" ng-click="vm.editDiagnostico(diagnostico, $index)"
                        ng-repeat="diagnostico in vm.diagnosticos | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                        <td md-cell>{{ diagnostico.piezas.length > 0 ? diagnostico.piezas[0] : '' }}</td>
                        <td md-cell>{{diagnostico.practicaOdontologica.denominacion ||
                            diagnostico.practicaNoExistente}}
                        </td>
                        <td md-cell>{{ diagnostico.observaciones }}</td>
                        <td md-cell>
                           <span>{{ diagnostico.ultimoMovimiento.estado.nombre }}
                           </span>
                            <span class="green-text" ng-if="!diagnostico.id">Nuevo</span>
                            <span class="orange-text" ng-if="diagnostico.editado">Editado</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination layout-align="center center" ng-if="vm.diagnosticos.length" md-limit="vm.query.limit" md-page="vm.query.page"
                                 md-total="{{ vm.diagnosticos.length }}"></md-table-pagination>
            <div ng-show="!vm.diagnosticos.length && !vm.aux.editingDiagnostico" layout="column"
                 layout-align="center center">
                <h1 class="md-title">No se registran diagnósticos pendientes</h1>
                <img style="height: 200px;width: auto" ng-src="resources/img/odontology/47.svg">
            </div>
            <ng-include ng-if="vm.aux.editingDiagnostico"
                        src="'views/hc/diagnostico/editExisting.html'"/>
        </div>
    </md-content>
</div>



