<!--div class="row-fluid">
    <div class="col-lg-6">
        <div class="form-group" show-errors>
            <label>Legajo</label>
            <input maxlength="10" required name="legajo" ng-model="vm.persona.legajo" type="text" class="form-control"/>
            <span class="help-block" for="legajo"></span>
        </div>
    </div>
</div-->
<div layout layout-sm="column">
    <md-input-container flex>
        <label>Legajo</label>
        <input name="legajo" ng-model="vm.persona.legajo"
               type="text" md-maxlength="10" required="true">

        <div ng-messages="userRelatedDataForm.legajo.$error">
            <div ng-message="required">El legajo es un campo obligatorio.</div>
            <div ng-message="md-maxlength">El lehajo debe contener menos de 10 caractéres.</div>
        </div>
    </md-input-container>
</div>