<md-content layout="row" layout-align="center start" class="md-main-content" flex>
    <md-card class="md-whiteframe-z5 md-main-content-card">
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <span>¿Primera vez en S.A.P.O.?</span>
            </div>
        </md-toolbar>
        <form name="form" ng-submit="vm.save(form)" novalidate>
            <md-card-content>
                <p>Por favor, complete los siguientes datos para terminar el registro de su usuario.</p>
                <ng-include ng-if="vm.validationErrorFromServer.error" src="'views/validation-error.html'"></ng-include>
                <ng-include src="'views/persona/persona.html'"></ng-include>
                <ng-include ng-if="vm.usuario.alumno" src="'views/persona/alumno.html'"></ng-include>
                <ng-include ng-if="vm.usuario.profesor" src="'views/persona/profesor.html'"></ng-include>
                <ng-include ng-if="vm.usuario.autoridad" src="'views/persona/autoridad.html'"></ng-include>

                <p class="subtitle-text">Datos de usuario</p>

                <div layout-gt-sm="row" layout-margin>
                    <div flex-gt-sm="60" layout="column" layout-align="center center">
                        <md-button name="file" ngf-pattern="'.jpg,.png,.bmp'"
                                   ngf-select="vm.fileChanged($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                                   ng-model-options="{updateOn: 'change', allowInvalid: false, debounce: 0}"
                                   accept="image/*" ngf-max-size="20MB" ngf-min-height="100">
                            <img class="user-image" ng-if="vm.isFileSelected()" ngf-thumbnail="vm.file"
                                 ngf-resize="{width: 300, height: auto}">
                            <img class="user-image" ng-if="!vm.isFileSelected()"
                                 src="http://www.riskid.nl/assets/testimonials/user-3995d1ed5f9b6ea6ef9c7bc9ead47415.jpg"/>
                        </md-button>
                        <ng-md-icon ng-if="vm.isFileSelected()" icon="delete" size="24" ng-click="vm.deleteImage()"
                                    ng-attr-style="fill: {{vm.colorIcon[3]}}" ng-Mouseover="colorMouseOver(3)"
                                    ng-mouseleave="colorMouseLeave(3)">
                            <md-tooltip>
                                Quitar
                            </md-tooltip>
                        </ng-md-icon>
                        <div class="validation-messages" ng-if="vm.data.wrongImageFormat">
                            <div>El formato debe ser: .jpg, .png o .bmp</div>
                        </div>
                    </div>
                    <div flex-gt-sm="40" layout="column" layout-margin>
                        <md-input-container flex class="md-block">
                            <label>Nombre de usuario</label>
                            <input md-maxlength="75" required name="nombreUsuario"
                                   ng-model="vm.persona.usuario.nombreUsuario">

                            <div ng-messages="form.nombreUsuario.$error"
                                 ng-show="form.nombreUsuario.$invalid && form.nombreUsuario.$touched">
                                <div ng-messages-include="error-messages"></div>
                            </div>
                            <md-tooltip md-direction="top">
                                Modifique su nombre de usuario si lo desea. Este será definitivo.
                            </md-tooltip>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label>Correo electrónico</label>
                            <input type="email" required name="email" ng-model="vm.persona.usuario.email">

                            <div ng-messages="form.email.$error" ng-show="form.email.$invalid && form.email.$touched">
                                <div ng-messages-include="error-messages"></div>
                            </div>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label>Contraseña</label>
                            <input id="password" type="password" md-maxlength="50" required name="password"
                                   ng-model="vm.persona.usuario.password">

                            <div ng-messages="form.password.$error"
                                 ng-show="form.password.$invalid && form.password.$touched">
                                <div ng-messages-include="error-messages"></div>
                            </div>
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label>Repetir contraseña</label>
                            <input pw-check="password" ng-pattern="vm.persona.usuario.contrasenia"
                                   ng-model="vm.repeatPassword" type="password" md-maxlength="50" name="repeatPassword">

                            <div ng-messages="form.repeatPassword.$error" ng-show="form.repeatPassword.$invalid">
                                <div ng-message="pwmatch">Las contraseñas no coinciden.</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>

            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Cancelar</md-button>
                <md-button type="submit" class="md-raised md-primary">Aceptar</md-button>
            </md-card-actions>
        </form>
    </md-card>

</md-content>