<div class="row-fluid">
    <div class="col-lg-6">
        <div class="form-group" show-errors>
            <label>Apellido</label>
            <input ng-disabled="vm.data.disableFields" name="apellido" ng-model="vm.persona.apellido"
                   type="text" maxlength="50" class="form-control" required/>
            <span class="help-block" for="apellido"></span>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group" show-errors>
            <label>Nombre</label>
            <input type="text" maxlength="50" class="form-control" required ng-disabled="vm.data.disableFields" name="nombre"
                   ng-model="vm.persona.nombre"/>
            <span class="help-block" for="nombre"></span>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="col-lg-6">
        <div class="form-group" show-errors>
            <label>Tipo documento</label>
            <select ng-disabled="vm.data.disableFields" name="tipoDocumento" class="form-control"
                    ng-model="vm.persona.documento.tipoDocumento"
                    ng-options="item.nombre as item.nombre for item in vm.data.tiposDocumento" required>
                <option value="">Seleccione</option>
            </select>
            <span class="help-block" for="tipoDocumento"></span>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group" show-errors>
            <label>Número documento</label>
            <input maxlength="10" type="text" class="form-control" required name="numeroDocumento"
                   ng-model="vm.persona.documento.numero"/>
            <span class="help-block" for="numeroDocumento"></span>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="col-lg-6">
        <date-picker label="'Fecha de nacimiento'" name="fechaNacimiento" model-name="'fechaNacimiento'"
                     ng-model="vm.persona.fechaNacimiento" max-date="'01/01/2000'" is-required="true"></date-picker>
    </div>
</div>