<div layout-gt-sm="row" layout-margin>
    <md-input-container flex="33">
        <label>Legajo</label>
        <input name="legajo" ng-model="vm.persona.legajo"
               type="text" ng-pattern="/^\d+$/" md-maxlength="10" required=>

        <div ng-messages="form.legajo.$error" ng-show="form.legajo.$touched">
            <div ng-messages-include="error-messages"></div>
        </div>
    </md-input-container>
    <md-input-container flex="33">
        <label>Matrícula profesional</label>
        <input name="matricula" ng-model="vm.persona.matricula"
               type="text" md-maxlength="25" required>

        <div ng-messages="form.matricula.$error" ng-show="form.matricula.$touched">
            <div ng-messages-include="error-messages"></div>
        </div>
    </md-input-container>
    <md-input-container flex="33">
        <label>Profesión</label>
        <input name="profesion" ng-model="vm.persona.profesion"
               type="text" md-maxlength="75">

        <div ng-messages="form.profesion.$error" ng-show="form.profesion.$touched">
            <div ng-messages-include="error-messages"></div>
        </div>
    </md-input-container>
</div>