.md-button-menu {
    text-transform: none !important;
}

.tabs md-tab-content {
    padding: 25px; }
.tabs md-tab-content{
    background: #f6f6f6; }
.tabs md-datepicker{
    background-color: #f6f6f6;
}
.tabs .md-subheader{
    background-color: #f6f6f6;
}

.tabs .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px; }

.tabs .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0; }

.md-button-profile {
    text-transform: lowercase !important;
}

.muted {
    color: rgba(0,0,0,0.54) !important;
    font-weight: 400 !important;
    text-align: left;
}

.md-fab-offset {
    margin-top: -30px;
    margin-bottom: -28px;
    float: right !important;
}

.landing-page {
    background-image: url('../img/bg.jpg');
}

.login-menu {
    background-color: #E91E63;
}

md-content.md-default-theme {
    background-color: #D4D4D4;
}

.md-avatar-login {
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 5px;
    border-radius: 50%;
    box-sizing: content-box;
}



.label-item-three-columns {
    box-sizing: border-box;
    padding: 0;
    max-width: 210px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    width: 33%;
}

.label-item-three-columns h4 {
    margin: 0 !important;
    padding: 0;
    line-height: 1.2em !important;
}

.md-2-line ng-md-icon {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.5;
}

.compact {
    padding-top: 8px;
    padding-bottom: 8px;
}

md-whiteframe {
    background: #fff;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.md-icon-view {
    margin-left: 22px;
    margin-top: 22px;
    width: 30;
    height: 30;
    opacity: 0.5;
}

.md-input-container-view-icon {
    margin: 15px;
}

.md-input-container-view-icon input {
    width: 230px;
    max-width: 235px;
}

.md-input-container-view-offset {
    margin-left: 70px;
}


#content {
    background-color: #cbcbcb;
}

.md-main-content {
    background-color: #DADBD4;
    max-width: 100%;
    height: 100%;
    margin: 0px;
    padding-bottom: 70px;
}

.md-main-content-card {
    background-color: #fff;
    width: calc(100% - 88px);
    height: auto;
}

/* when hiding the thing */
/*.ng-hide-add {
    -webkit-animation: slideOutUp 0.1s;
    -moz-animation: slideOutUp 0.1s;
    -ms-animation: slideOutUp 0.1s;
    animation: slideOutUp 0.1s;
}

*//* when showing the thing *//*
.ng-hide-remove {
    -webkit-animation: slideInDown 0.1s;
    -moz-animation: slideInDown 0.1s;
    -ms-animation: slideInDown 0.1s;
    animation: slideInDown 0.1s;
}*/

.animated-div.ng-hide-add {
    -webkit-animation: slideOutUp 0.5s;
    -moz-animation: slideOutUp 0.5s;
    -ms-animation: slideOutUp 0.5s;
    animation: slideOutUp 0.5s;
}

.animated-div.ng-hide-remove {
    -webkit-animation: slideInDown 0.5s;
    -moz-animation: slideInDown 0.5s;
    -ms-animation: slideInDown 0.5s;
    animation: slideInDown 0.5s;  }


.md-avatar-big {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 20px;
    border-radius: 50%;
    box-sizing: content-box;
    height: 80px;
    width: 80px;
}

.md-dialog-content {
    max-width: 800px;
    max-height: 810px
}

.user-main > img {
    margin: 24px;
    width: 33%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 3px #FFF;
    display: inline-block;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.user-main > div {
    padding-bottom: 10px;
    margin-left: 24px;
}

.user-main {
    padding-bottom: 24px;
    background-color: #03A9F4;
    color: #eeeeee;
    height: 225px;
}

.md-button-profile {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: lowercase;
}

body {
    overflow: auto;
}

.md-menu-item > ng-md-icon {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

.md-menu-item > a {
    margin-left: 10px;
    margin-top: 20px;
}

.validation-messages {
    font-size: 12px;
    color: rgb(221, 44, 0);
    margin: 0px 0 0 25px;
}

.user-image {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background-position: 50% 50%;
    background-size: 300px auto;
}

.user-image-sm {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    background-position: 50% 50%;
    background-size: 200px auto;
}

.query-chips .md-chips .md-chip-input-container > input {
    display: none;
}

.deleted-item {
    background-color: rgba(255, 0, 0, .2);
}

.val-error {
    /*background-color: rgba(255,0,0, .5)!important;*/
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
}

.subtitle-text {
    color: rgb(3, 169, 244)
}
/*#md-card-tab {
    height: 95%;
}
#md-card-tab-content{
    height: 75%;
}*/
.short-sidenav {
    min-width: 21%;
    max-width: 22%;
}
.short-sidenav {
    min-width: 21%;
    max-width: 22%;
}

.md-no-error ng-md-icon{
    opacity: 0;
}

.md-has-error{
    /*background-color: rgb(242, 210, 216);*/
}

.md-has-error ng-md-icon {
    opacity: 1;
    fill: #ef0300;
    margin-left: 5%;
    margin-bottom: 5%;
    size: 24;
}

#bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: #000;
    z-index: 10002;
    overflow: auto;
}

.md-menu-item  ng-md-icon {
    margin-right: 10px;
}

.table-pagination{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    padding: 0 24px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    border-top: 1px rgba(0, 0, 0, 0.12) solid;
}

md-toolbar.md-table-toolbar.alternate-table-toolbar {
    color: #1e88e5;
    background-color: #e3f2fd;
}

md-toolbar.md-table-toolbar.alternate-table-toolbar {
    font-size: 16px;
}

md-toolbar.md-table-toolbar.alternate-table-toolbar-2 {
    color: #74cb86;
    background-color: #e3f2fd;
}

md-toolbar.md-table-toolbar.alternate-table-toolbar-2 {
    font-size: 16px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.list-item-1 {
  background-color: lightgreen;
}

.list-item-2 {
    background-color: lightblue;
}

.list-item-3 {
    background-color: lightcoral;
}

.list-item-4 {
    background-color: lightskyblue;
}

.list-item-0 {
    background-color: lightsalmon;
}

.selected-menu-item {
    background-color: lightgray;
}