.md-button-menu {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: capitalize;
}

.md-button-profile {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: lowercase;
}

a {
    text-decoration: none;
    color: rgb(33, 33, 33);
}

md-input-container {
    padding-bottom: 0
}

.muted {
    color: #bbb;
    font-weight: 500;
    text-align: left;
}

.md-fab-offset {
    margin-top: -30px;
    margin-bottom: -28px;
    float: right !important;
}

md-card {
    background-color: #fff;
}

h2:first-of-type {
    margin-top: 0;
}

.landing-page {
    background-image: url('../img/bg.jpg');
}

.login-menu {
    background-color: #E91E63;
}

md-content.md-default-theme {
    background-color: #D4D4D4;
}

.md-avatar-login {
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 5px;
    border-radius: 50%;
    box-sizing: content-box;
}

.animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.3s;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

.label-item-two-columns{
    box-sizing: border-box;
    padding: 14px 0;
    max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    width: 50%;
}
.label-item-two-columns h3 {
    margin: 0 !important;
    padding: 0;
    line-height: 1.2em !important; }


.md-2-line ng-md-icon{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.5;
}

.edit-icon {
}
.compact {
    padding-top: 8px;
    padding-bottom: 8px; }

md-whiteframe {
    background: #fff;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
   }
