<div layout="column">
    <md-content flex md-scroll-y layout-fill flex-gt-sm="90" flex-gt-xs="90" class="md-main-content">
        <div layout="column" layout-fill layout-padding>
            <div>
                <div layout="row" layout-align="center center">
                    <md-card flex>
                        <img style="height: 50%; width: auto" src="resources/img/salud.jpg" class="md-card-image" alt="Washed Out">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Sistema de administración de pacientes odontológicos</span>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card>
                </div>
            </div>
        </div>
    </md-content>
</div>
