<md-content style="background-color: #DADBD4;padding-bottom: 32px">
    <div layout="column" layout-align="center center">
        <md-card style="height: 525px; width: 1016px; margin-top: 25px">
            <jk-carousel
                    data="carouselData"
                    item-template-url="'views/carousel-item.html'"
                    max-width="1016"
                    max-height="500"
                    auto-slide="true"
                    auto-slide-time="3000">
            </jk-carousel>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Sistema de administración de pacientes odontológicos</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
            </md-card-content>
        </md-card>
    </div>
</md-content>

