<md-content layout="row">
    <div layout="column" flex>
        <md-card>
            <img style="height: 50%; width: auto" src="resources/img/odonto.jpg"  class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Sistema de administración de pacientes odontológicos</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
            </md-card-content>
        </md-card>
    </div>
</md-content>
