<md-dialog flex="40" ng-cloak>
    <form novalidate name="form" ng-submit="recuperar(form)">
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <span>Resetear password</span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column" layout-margin>
                    <ng-include ng-if="validationErrorFromServer.error"
                                src="'views/validation-error.html'"></ng-include>
                    <p>Ingrese su correo electrónico, le enviaremos su nueva contraseña</p>
                    <md-input-container>
                        <label>Correo electrónico</label>
                        <input required name="email" type="email" ng-model="email"/>
                        <div ng-messages="form.email.$error"
                             ng-show="form.email.$touched">
                            <div ng-messages-include="error-messages"></div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end end">
            <md-button ng-click="cancel()">Cancelar</md-button>
            <md-button type="submit" class="md-raised md-primary">Aceptar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>