<div class="row-fluid">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="page-header">
                    <h2>Rol
                        <small>Seleccionar</small>
                    </h2>
                </div>

                <form novalidate ng-submit="selectRol(user)" name="selectRolForm">
                    <div class="list-group" ng-repeat="rol in loginData.roles">
                        <div class="list-group-item">
                            <div class="row-action-primary radio radio-primary">
                                <label>
                                    <input type="radio" name="rolOptions" ng-value="rol" ng-model="user.rol">
                                </label>
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">{{rol.nombre}}</h4>

                                <p class="list-group-item-text">{{rol.descripcion}}</p>
                            </div>
                        </div>
                        <div class="list-group-separator"></div>
                    </div>
                    <div class="col-lg-12">
                        <input type="submit" class="btn btn-info pull-right" value="Continuar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>