<div class="panel panel-default">
    <div class="panel-body">
        <div class="page-header">
            <h2>Complete sus datos para continuar
            </h2>
        </div>
        {{vm.persona}}

        <summary-error var="showSummaryError && userRelatedDataForm.$invalid"></summary-error>
        <form novalidate submit-validate="vm.save()" name="userRelatedDataForm">
             <div ng-include="'views/persona/persona.html'"></div>
             <div ng-if="vm.data.typeOfPerson == 'Autoridad'" ng-include="'views/persona/persona.html'"></div>
             <div ng-if="vm.data.typeOfPerson == 'Responsable'" ng-include="'views/persona/responsable.html'"></div>
             <div ng-if="vm.data.typeOfPerson == 'Alumno'" ng-include="'views/persona/alumno.html'"></div>
             <div ng-if="vm.data.typeOfPerson == 'Profesor'" ng-include="'views/persona/profesor.html'"></div>

            <div class="row-fluid">
                <div class="col-lg-12">
                    <div class="pull-right">
                        <input ng-show="!data.disableFields" type="submit" class="btn btn-primary"
                               value="Aceptar"/>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>