<div layout="column">
    <md-content flex md-scroll-y layout-fill flex-gt-sm="90" flex-gt-xs="90" class="md-main-content">
        <div layout="column" layout-fill layout-padding>
            <div>
                <div layout="row" layout-align="center center">
                    <md-card flex-gt-sm>
                        <md-toolbar class="md-accent">
                            <div class="md-toolbar-tools">
                                <span>{{ 'VER_MATERIA' | translate }}</span>
                            </div>
                        </md-toolbar>
                        <md-card-content>
                            <md-list flex>
                                <div layout-gt-sm="row" layout-margin>
                                    <div layout-align="center center">
                                        <img class="user-image-sm list-item-4"
                                             ng-src="resources/img/odontology/{{imgIdx}}.svg"/>
                                    </div>
                                    <md-list-item class="md-2-line md-long-text" flex-gt-sm="30">
                                        <div class="md-list-item-text md-offset">
                                            <h4>Nombre</h4>

                                            <h2>{{materia.nombre}}</h2>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line md-long-text" flex-gt-sm="30">
                                        <div class="md-list-item-text md-offset">
                                            <h4>Nivel</h4>

                                            <p>{{materia.nivel.nombre}}</p>
                                        </div>
                                    </md-list-item>
                                </div>
                                <div layout-gt-sm="row" layout-margin>
                                    <flex></flex>
                                    <md-list-item class="md-2-line md-long-text" flex=90>
                                        <div class="md-list-item-text md-offset">
                                            <h4>Descripción</h4>

                                            <p>{{materia.descripcion | noDefinido}}</p>
                                        </div>
                                    </md-list-item>
                                </div>
                                <div layout-gt-sm="row" ng-if="materia.fechaBaja" layout-margin>
                                    <flex></flex>
                                    <md-list-item class="md-2-line md-long-text" flex-gt-sm="30">
                                        <div class="md-list-item-text md-offset">
                                            <h4>{{'FECHA_BAJA' | translate}}</h4>

                                            <p>{{materia.fechaBaja | date:'dd/MM/yyyy' }}</p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line md-long-text" flex-gt-sm="70">
                                        <div class="md-list-item-text md-offset">
                                            <h4>{{'MOTIVO_BAJA' | translate}}</h4>

                                            <p>{{materia.motivoBaja | noDefinido}}</p>
                                        </div>
                                    </md-list-item>
                                </div>
                            </md-list>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="goIndex()" class="md-primary">Volver</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>
    </md-content>
</div>
