<div layout="column">
    <md-content flex md-scroll-y layout-fill flex-gt-sm="90" flex-gt-xs="90" class="md-main-content">
        <div layout="column" layout-fill layout-padding>
            <div>
                <div layout="row" layout-align="center center">
                    <md-card flex-gt-sm>
                        <form name="editMateriaForm" ng-submit="save(editMateriaForm)" novalidate>
                           <md-toolbar class="md-accent">
                                <div class="md-toolbar-tools">
                                    <span>{{ 'CREAR_MATERIA' | translate }}</span>
                                </div>
                            </md-toolbar>
                            <md-card-content>
                                <ng-include ng-if="validationErrorFromServer.error" src="'views/validation-error.html'"></ng-include>
                                <div layout-gt-sm="row" layout-margin>
                                    <md-input-container flex-gt-sm="33">
                                        <label>{{ 'NOMBRE' | translate }}</label>
                                        <input name="nombre" ng-model="materia.nombre"
                                               required md-maxlength="50">

                                        <div ng-messages="editMateriaForm.nombre.$error" role="alert"
                                             ng-show="editMateriaForm.nombre.$touched">
                                            <div ng-messages-include="error-messages"></div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex-gt-sm="33">
                                        <label>{{ 'NIVEL' | translate }}</label>
                                        <md-select required ng-model="materia.nivel" name="nivel"
                                                   ng-model-options="{trackBy: '$value.key'}">
                                            <md-option ng-repeat="nivel in data.niveles" ng-value="nivel">
                                                {{ nivel.nombre }}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="editMateriaForm.nivel.$error" ng-show="editMateriaForm.nivel.$touched">
                                            <div ng-messages-include="error-messages"></div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div layout-gt-sm="row" layout-margin>
                                    <md-input-container flex>
                                        <label>{{ 'DESCRIPCION' | translate }}</label>
                                        <textarea ng-model="materia.descripcion" rows="3" md-maxlength="400"
                                                  name="descripcion"></textarea>

                                        <div ng-messages="editMateriaForm.descripcion.$error"
                                             ng-show="editMateriaForm.descripcion.$touched">
                                            <div ng-messages-include="error-messages"></div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button ng-click="goIndex()">{{ 'CANCELAR' | translate }}</md-button>
                                <md-button type="submit" class="md-raised md-primary">{{ 'ACEPTAR' | translate }}</md-button>
                            </md-card-actions>
                        </form>
                    </md-card>
                </div>
            </div>
        </div>
    </md-content>
</div>

<!--<md-content layout="column" layout-align="start center" class="md-main-content" flex>-->
    <!--<md-card class="md-whiteframe-z5 md-main-content-card">-->
        <!--<md-toolbar class="md-accent">-->
            <!--<div class="md-toolbar-tools">-->
                <!--<span>Editar materia</span>-->
            <!--</div>-->
        <!--</md-toolbar>-->
        <!--<form name="editMateriaForm" ng-submit="save(editMateriaForm)" novalidate>-->
            <!--<md-card-content>-->
                <!--<p>Complete los datos para editar la materia.</p>-->
                <!--<div layout-gt-sm="row" layout-margin>-->
                    <!--<md-input-container flex-gt-sm="33">-->
                        <!--<label>Nombre</label>-->
                        <!--<input name="nombre" ng-model="materia.nombre"-->
                               <!--required md-maxlength="50">-->

                        <!--<div ng-messages="editMateriaForm.nombre.$error" ng-show="editMateriaForm.nombre.$touched">-->
                            <!--<div ng-messages-include="error-messages"></div>-->
                        <!--</div>-->
                    <!--</md-input-container>-->
                    <!--<md-input-container flex-gt-sm="33">-->
                        <!--<label>Nivel</label>-->
                        <!--<md-select required ng-model="materia.nivel" name="nivel"-->
                                   <!--ng-model-options="{trackBy: '$value.key'}">-->
                            <!--<md-option ng-repeat="nivel in data.niveles" ng-value="nivel">-->
                                <!--{{ nivel.nombre }}-->
                            <!--</md-option>-->
                        <!--</md-select>-->
                        <!--<div ng-messages="editMateriaForm.nivel.$error" ng-show="editMateriaForm.nivel.$touched">-->
                            <!--<div ng-messages-include="error-messages"></div>-->
                        <!--</div>-->
                    <!--</md-input-container>-->
                <!--</div>-->
                <!--<div layout-gt-sm="row" layout-margin>-->
                    <!--<md-input-container flex>-->
                        <!--<label>Descripción</label>-->
                        <!--<textarea ng-model="materia.descripcion" rows="3" md-maxlength="400"-->
                                  <!--name="descripcion"></textarea>-->

                        <!--<div ng-messages="editMateriaForm.descripcion.$error"-->
                             <!--ng-show="editMateriaForm.descripcion.$touched">-->
                            <!--<div ng-messages-include="error-messages"></div>-->
                        <!--</div>-->
                    <!--</md-input-container>-->
                <!--</div>-->

            <!--</md-card-content>-->
            <!--<md-card-actions layout="row" layout-align="end center">-->
                <!--<md-button ng-click="goIndex()">Cancelar</md-button>-->
                <!--<md-button type="submit" class="md-raised md-primary">Aceptar</md-button>-->
            <!--</md-card-actions>-->
        <!--</form>-->
    <!--</md-card>-->
<!--</md-content>-->

